aiohttp==3.9.5
aiosignal==1.3.1
alembic==1.13.1
annotated-types==0.6.0
antlr4-python3-runtime==4.9.3
asteroid-filterbanks==0.4.0
attrs==23.2.0
audioread==3.0.1
av==11.0.0
backports.tarfile==1.1.1
beautifulsoup4==4.12.3
blis==0.7.11
Brotli==1.1.0
catalogue==2.0.10
certifi==2024.2.2
cffi==1.16.0
charset-normalizer==3.3.2
cleannlp==1.0.4
click==8.1.7
cloudpathlib==0.16.0
coloredlogs==15.0.1
colorlog==6.8.2
confection==0.1.4
contourpy==1.2.1
ctranslate2==4.3.0
curated-tokenizers==0.0.9
curated-transformers==0.1.1
cycler==0.12.1
cymem==2.0.8
decorator==5.1.1
docopt==0.6.2
docutils==0.21.2
dvt @ git+https://github.com/distant-viewing/dvt@53c69b358d4484be494ea53c3c9526d7963dd09b
einops==0.8.0
emoji==2.12.1
en-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.7.1/en_core_web_sm-3.7.1-py3-none-any.whl#sha256=86cc141f63942d4b2c5fcee06630fd6f904788d2f0ab005cce45aadb8fb73889
en-core-web-trf @ https://github.com/explosion/spacy-models/releases/download/en_core_web_trf-3.7.3/en_core_web_trf-3.7.3-py3-none-any.whl#sha256=f72abb34bdf174876bd4267b29b2501677e605e0a251fdc56c163003182ed68b
faster-whisper==1.0.0
filelock==3.14.0
flatbuffers==24.3.25
fonttools==4.51.0
frozenlist==1.4.1
fsspec==2024.3.1
huggingface-hub==0.23.1
humanfriendly==10.0
HyperPyYAML==1.2.2
idna==3.7
importlib_metadata==7.1.0
iniconfig==2.0.0
jaraco.classes==3.4.0
jaraco.context==5.3.0
jaraco.functools==4.0.1
Jinja2==3.1.4
joblib==1.4.2
julius==0.2.7
keyring==25.2.1
kiwisolver==1.4.5
langcodes==3.4.0
language_data==1.2.0
lazy_loader==0.4
librosa==0.10.2.post1
lightning==2.2.5
lightning-utilities==0.11.2
llvmlite==0.42.0
Mako==1.3.5
marisa-trie==1.1.1
markdown-it-py==3.0.0
MarkupSafe==2.1.5
matplotlib==3.9.0
mdurl==0.1.2
more-itertools==10.2.0
mpmath==1.3.0
msgpack==1.0.8
multidict==6.0.5
murmurhash==1.0.10
mutagen==1.47.0
networkx==3.3
nh3==0.2.17
nltk==3.8.1
numba==0.59.1
numpy==1.26.4
omegaconf==2.3.0
onnxruntime==1.18.0
opencv-python==4.9.0.80
optuna==3.6.1
packaging==24.0
pandas==2.2.2
pillow==10.3.0
pkginfo==1.10.0
platformdirs==4.2.2
pluggy==1.5.0
pooch==1.8.1
preshed==3.0.9
primePy==1.3
protobuf==5.26.1
pyannote.audio==3.1.1
pyannote.core==5.0.0
pyannote.database==5.1.0
pyannote.metrics==3.2.1
pyannote.pipeline==3.0.1
pycparser==2.22
pycryptodomex==3.20.0
pydantic==2.7.1
pydantic_core==2.18.2
Pygments==2.18.0
pyparsing==3.1.2
pytest==8.2.1
python-dateutil==2.9.0.post0
pytorch-lightning==2.2.5
pytorch-metric-learning==2.5.0
pytz==2024.1
PyYAML==6.0.1
readme_renderer==43.0
regex==2024.5.15
requests==2.32.3
requests-toolbelt==1.0.0
rfc3986==2.0.0
rich==13.7.1
ruamel.yaml==0.18.6
ruamel.yaml.clib==0.2.8
safetensors==0.4.3
scikit-learn==1.5.0
scipy==1.13.1
semver==3.0.2
sentencepiece==0.2.0
shellingham==1.5.4
six==1.16.0
smart-open==6.4.0
sortedcontainers==2.4.0
soundfile==0.12.1
soupsieve==2.5
soxr==0.3.7
spacy==3.7.4
spacy-curated-transformers==0.2.2
spacy-legacy==3.0.12
spacy-loggers==1.0.5
speechbrain==1.0.0
SQLAlchemy==2.0.30
srsly==2.4.8
stanfordnlp==0.2.0
stanza==1.8.2
sympy==1.12
tabulate==0.9.0
tensorboardX==2.6.2.2
thinc==8.2.3
threadpoolctl==3.5.0
tokenizers==0.15.2
toml==0.10.2
torch==2.3.0
torch-audiomentations==0.11.1
torch-pitch-shift==1.2.4
torchaudio==2.3.0
torchmetrics==1.4.0.post0
torchvision==0.18.0
tqdm==4.66.4
transformers==4.39.3
twine==5.1.0
typer==0.9.4
typing_extensions==4.11.0
tzdata==2024.1
urllib3==2.2.1
user_agent==0.1.10
wasabi==1.1.2
weasel==0.3.4
websockets==12.0
whisperx @ git+https://github.com/m-bain/whisperx.git@f2da2f858e99e4211fe4f64b5f2938b007827e17
wrpy==0.1.1
yarl==1.9.4
yt-dlp==2024.8.1
zipp==3.18.2
